<section data-ng-controller="HomeController">

	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					USADO
				</h1>

				<p>
					A second hand market place with integrated logistics.
				</p>

				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Invitation based
			</h2>

			<p>
				This is an invitation based market place. So the people you meet are the chosen ones and hence
				trustworthy.
			</p>

			<p>
				<a class="btn" href="#">Read more »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Transport
			</h2>

			<p>
				No more hassle for delivering the product to your home. It is now a click away. Set your preferred
				locations in your profile.
			</p>

			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Negotiation &amp; Privacy
			</h2>

			<p>
				You don't need to share your personal details to make a deal. Start negotiating through our app.
			</p>

			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>


</section>
